@use 'variables' as vars;

@media (max-width: 992px) {
}

@media (max-width: 768px) {
	.player {
		&__volume {
			display: none;
		}
	}
}

@media (max-width: 576px) {
	.nav {
		&__list {
			display: none;
		}
	}
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation: none !important;
		transition: none !important;
	}
	.dial__needle {
		transform: none;
	}
}
