@use 'variables' as vars;

@media (max-width: 992px) {
}

@media (max-width: 768px) {
	.player {
		&__volume {
			display: none;
		}
	}
	.hero {
		&__header {
			font-size: 56px;
			span {
				font-size: 20px;
			}
		}
	}
}

@media (max-width: 576px) {
	.nav {
		&__list {
			display: none;
		}
	}
	.hero {
		&__header {
			font-size: 48px;
			span {
				font-size: 18px;
			}
		}
	}
	.listen-hero {
		h1 {
			font-size: 48px;
		}
	}
	.dial {
		&__top {
			.freq {
				font-size: 42px;
				span {
					font-size: 16px;
				}
			}
		}
		&__scale .labels text {
			font-size: 20px;
		}
	}
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation: none !important;
		transition: none !important;
	}
	.dial__needle {
		transform: none;
	}
}
